<div class="header">
        <div class="top-bar">
            <div class="row">
                <ul class="col contact">
                    <li><i class="bi bi-envelope"></i>nhom9@gmail.com</li>
                    <li><i class="bi bi-telephone"></i>0123456789</li>
                </ul>
    
                <div class="col account">
                    <a href="#" class="login" data-bs-toggle="modal" data-bs-target="#loginModal">Đăng nhập</a> /
                    <a href="#" class="signup" data-bs-toggle="modal" data-bs-target="#signupModal">Đăng ký</a>
                    <i class="bi bi-person"></i>

                    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="login-form">
                                    <form method="post" name="login" class="form-style" action="/auth/login">
                                        <div class="form-logo">
                                            <img src="./img/logo.png" alt="logo">
                                        </div>
                                        <label for="email"><b>Email</b></label> <br>
                                        <input type="email" placeholder="Nhập E-mail" name="email" required> <br>

                                        <label for="psw"><b>Mật khẩu</b></label> <br>
                                        <input type="password" placeholder="Nhập mật khẩu" name="psw" required> <br>

                                        <button class="btn login-btn" onclick="document.getElementsByClassName("account")[0].removeChild(list.children[0]);">
                                            Đăng nhập
                                        </button>

                                        <div class="forgot">
                                            <button class="forgotPass" style="float: left;" data-bs-toggle="modal" data-bs-target="#signupModal">
                                                Đăng ký
                                            </button>

                                            <button type="button" class="forgotPass" onclick="alert("Mật khẩu mới đã được gửi đến email bạn đã đăng ký")">
                                                Quên mật khẩu
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="signup-form">
                                    <form method="get" name="signup" class="form-style">
                                        <div class="form-logo">
                                            <img src="./img/logo.png" alt="logo">
                                        </div>

                                        <label for="name"><b>Họ và tên</b></label> <br>
                                        <input type="name" placeholder="Nhập Họ và tên" name="name" required> <br>

                                        <label for="email"><b>Email</b></label> <br>
                                        <input type="email" placeholder="Nhập E-mail" name="email" required> <br>

                                        <label for="psw"><b>Mật khẩu</b></label> <br>
                                        <input type="password" placeholder="Nhập mật khẩu" name="psw" required> <br>

                                        <button type="button" class="btn login-btn" onclick="alert("Đăng ký thành công! Vui lòng kiểm tra email của bạn")" form="/auth/signup">Đăng ký</button>
                                </label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="nav">
                <div class="logo">
                    <a href="/"><img src="./img/logo.png" alt="logo"></a>
                </div>
    
                <div class="nav-btn">
                    <a href="/">Trang chủ</a>
                    <a href="/all-products">Sản phẩm</a>
                    <a href="/contact">Liên hệ</a>
                    <a href="/about">Về Farmnine</a>
                </div>
                
                <div class="search">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Tìm kiếm" >
                        <a class="btn" type="button"><i class="bi bi-search"></i></a>
                    </div>
                </div>
                
                <div class="cart-btn">
                    <a href="/cart"><i class="bi bi-cart3"></i></a>
                    <div class="cart-counter" id="cart-product-counter">2</div>
                </div>
        </div>
        <hr>
    </div>

    