<div class="header">
        <div class="top-bar">
            <div class="row">
                <ul class="col contact">
                    <li><i class="bi bi-envelope"></i>nhom9@gmail.com</li>
                    <li><i class="bi bi-telephone"></i>0123456789</li>
                </ul>
    
                <div class="col account">
                    <p style="font-size: 13px;">
                        Xin chào, 
                        <span class="account-name" style="margin-right: 12px;">Nguyễn Văn A</span> |
                        <a href="#" class="logout" style="margin-left: 12px;" onclick="logout();">Đăng xuất</a>
                    </p>
                </div>
            </div>
        </div>
    
        <div class="nav">
                <div class="logo">
                    <a href="/"><img src="./img/logo.png" alt="logo"></a>
                </div>
    
                <div class="nav-btn">
                    <a href="/">Trang chủ</a>
                    <a href="/all-products">Sản phẩm</a>
                    <a href="/contact">Liên hệ</a>
                    <a href="/about">Về Farmnine</a>
                </div>
                
                <div class="search">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Tìm kiếm" >
                        <a class="btn" type="button" ><i class="bi bi-search"></i></a>
                    </div>
                </div>
                
                <div class="cart-btn">
                    <a href="/cart"><i class="bi bi-cart3"></i></a>
                    <div class="cart-counter" id="cart-product-counter">2</div>
                </div>
        </div>
        <hr>
    </div>

    <script>
        function logout() {
            if (confirm("Bạn có chắc chắn muốn đăng xuất ?")) {
                location.href  = "/login";
            } 
        }
    </script>