<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css"> 
    <link rel="stylesheet" href="./css/shipping.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Vận chuyển</title>
</head>
<body>
    {{>header}}


    <div class="page-info">
        <h2 class="page-name">Vận chuyển</h2>
        <p class="route">
            <a href="/">Trang chủ</a> /
            <a href="/cart">Giỏ hàng</a> /
            <a href="/shipping">Vận chuyển</a>
        </p>
    </div>

    <div class="row shipping-content">
        <div class="col shipping-info">
            <h6 class="title"><b>Thông tin vận chuyển</b></h6>
            <div class="info-container">
                <div class="row address-edit-btn">
                    <p class="col col-md-9">Địa chỉ giao hàng</p>
                    <button class="col col-md-3">Sửa</button>
                </div>
                <hr>
                
                <div class="customer-info">
                    <span><b>Tên:</b></span>
                    <span class="customer-name">Nguyễn Văn A</span>
                    <br>
                    <span><b>Địa chỉ:</b></span>
                    <span class="customer-address">Số 123, Đường 456, Huyện ABC, Quận E, TP. Z</span>
                    <br>
                    <span><b>Điện thoại:</b></span>
                    <span class="customer-phone">0123456789</span>
                </div>
            </div>

            <h6 class="title"><b>Phương thức vận chuyển</b></h6>
            <div class="info-container">
                <div class="row ship-input">
                    <div class="method-radio col-md-9">
                        <input type="radio" name="ship-method" id="normal">
                        <label for="normal">Vận chuyển thường</label>
                    </div>

                    <span class="price col-md-3">15.000đ</span>
                </div>
            </div>

            <div class="row navigation">
                <a href="/cart" class="col back">Trở về giỏ hàng</a>
                <div class="btn-container col">
                    <a href="/payment" class="btn">Thanh toán</a>
                </div>
            </div>
        </div>

        <div class="col cart-info">
            <div class="items">
                <div class="row item">
                    <p class="col col-md-1 quantity">1</p>
                    <p class="col col-md-1">x</p>
                    <p class="col col-md-7 item-name">Dưa hấu</p>
                    <p class="col col-md-3 price">20.000đ</p>
                </div>
                <hr>

                <div class="row item">
                    <p class="col col-md-1 quantity">3</p>
                    <p class="col col-md-1">x</p>
                    <p class="col col-md-7 item-name">Cà chua</p>
                    <p class="col col-md-3 price">10.000đ</p>
                </div>
                <hr>
                
                <div class="row discount-input">
                    <input type="text" class="col" placeholder="Mã giảm giá">
                    <!-- <div class="btn-container col col-md-3"> -->
                    <button class="btn col">Thêm mã</button>
                    <!-- </div> -->
                </div>
                <hr>
                <div class="total">
                    <div class="row">
                        <p class="col col-md-9">Tạm tính</p>
                        <p class="col col-md-3 price">50.000đ</p>
                    </div>
                    <div class="row">
                        <p class="col col-md-9">Phí vận chuyển</p>
                        <p class="col col-md-3 price">15.000đ</p>
                    </div>
                    <div class="row">
                        <p class="col col-md-9">Giảm giá</p>
                        <p class="col col-md-3 price">- 10.000đ</p>
                    </div>
                    <hr>
                    
                    <div class="row">
                        <p class="col col-md-9">Tổng cộng</p>
                        <h5 class="col col-md-3 price">55.000đ</h5>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>

    {{>footer}}
</body>
</html>