<h2>Vacation Photo Contest</h2>
<div id="vacationPhotoContestFormContainer">
    <form class="form-horizontal" role="form" id="vacationPhotoContestForm"
>

<div class="form-group">
<label for="fieldPhoto" class="col-sm-2 control-label">Vacation
photo</label>
<div class="col-sm-4">
<input type="file" class="form-control" required accept="image/*"
id="fieldPhoto" name="photo">
<div id="result"></div>
</div>
</div>
<div class="form-group">
<div class="col-sm-offset-2 col-sm-4">
<button type="submit" class="btn btn-primary">Register</button>
</div>
</div>
</form>
</div>

<script>
document.getElementById('vacationPhotoContestForm')
.addEventListener('submit', evt => {
    evt.preventDefault()
    const formData = new FormData(evt.target);
    const reader = new FileReader();
    const fileByteArray = [];
    reader.readAsArrayBuffer(formData.get("photo"));
    reader.onloadend = (evt) => {
        if (evt.target.readyState === FileReader.DONE) {
        const arrayBuffer = evt.target.result,
            array = new Uint8Array(arrayBuffer);
        for (const a of array) {
            fileByteArray.push(a);
        }
        }
    }
    const container =document.getElementById('vacationPhotoContestFormContainer')
    const url = '/api/test'
    fetch(url, { method: 'post', body: fileByteArray })
    .then(resp => {
    if(resp.status < 200 || resp.status >= 300)
    throw new Error(`Request failed with status ${resp.status}`)
    return resp.json()
    })
    .then(json => {
    container.innerHTML = '<b>Thank you for submitting your photo!</b>'
    })
    .catch(err => {
    container.innerHTML = `<b>We're sorry, we had a problem processing
    ` +
    `your submission. Please <a href="/newsletter">try again</a>`
    })
})
</script>