<!DOCTYPE html>
<html lang="en">

<head>
    <title>Thanks</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/bootstrap.css">
    <link rel="stylesheet" href="./CSS/Aboutstyle.css">
    <link rel="stylesheet" href="./CSS/fonts/themify-icons/themify-icons.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>
        body {
            font-family: 'Montserrat';
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- Header -->
        <div class="header">

            <nav class="subheader navbar navbar-expand-lg navbar-light bg-light">

                <div class="email nav-item col-xl-4 col-md-4 col-2">
                    nhom9@gmail.com
                </div>

                <div class="phone nav-item col-xl-6 col-md-4">
                    0123456789
                </div>

                <div class="register nav-item col-xl-2 col-md-4 col-10">
                    <a href="#" style="color: white;">
                        Đăng nhập/Đăng ký
                        <img src="./images/profile-pic.png" alt="profile-pic" style="height: 12px;">
                    </a>
                </div>

            </nav>

            <nav class="mainheader navbar navbar-expand-lg navbar-light bg-light">

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="#">
                    <img src="./images/logo.png" alt="logo" style="height: 61px;">
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Sản phẩm <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Liên hệ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Về Farmnine <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>

        </div>

        <div class="content" style="text-align: center; width: 100%; margin-top: 40px;">
            <i class="check-icon ti-check"></i>

            <h3>Đặt hàng thành công</h3>
            <p class="bill-code">Mã đơn hàng #2039</p>
            <p style="margin: 0 250px; text-align: justify;">
                Cảm ơn bạn đã đặt hàng tại Farmnine. Đơn hàng của bạn đã được xác nhận và sẽ được vẫn chuyển trong vòng 7 đến 14 
                ngày. Xin hãy kiểm tra email của bạn để cập nhật những thay đổi mới nhật.
            </p>
            <br>
            <input type="submit" value="Tiếp tục mua hàng">
            <br>
            <br>
            <a href="#" class="make-bill">In hóa đơn</a>
        </div>
            
    </div>

</body>

</html>